*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}
nav {
    padding: 4% 10%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}
div ul{
    display: flex;
    align-items: center;
}
div ul li{
    list-style: none;
    margin-left: 50px;
    color: grey;
}
li:first-child{
    color: black;
    font-weight: 500;
}
nav button{
    background-color: slateblue;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
}
main{
    height: 70vh;
    display: flex;
    align-items: center;
}
section.left{
    width: auto;
    padding: 15px 10%;
}
.left h1{
font-size: 55px;
color: #03203C;
}
span{
    color: slateblue;
}
.left p{
    padding: 10px 0;
    color: grey;
}
.left button{
    background-color: slateblue;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    margin-top: 45px;
}
section.right{
    position: absolute;
    right: 15%;
}
@media screen and (max-width: 1200px){
    .left{
        width: 100%;
    }
}