*{
    margin: 0;
    padding: 0% 0%;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.page1{
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0%;
    background-color: #edf7fd;
    clip-path: polygon(0 0, 100% 0, 100% 75%, -30% 95%, 0 95%);
}
nav {
    padding: 2% 15%;
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 30%;
    position: relative;
    top: 0%;
    left: 0%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 45px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 550;
}
.down-arrow{
    position: absolute;
    top: 38%;
    left: 48%;
}
.nav-button{
    margin-left: 45px;
    padding: 1.5% 3%;
    white-space: nowrap;
    border-radius: 25px;
    color: rgb(86, 75, 156);
    border: 1px solid rgb(86, 75, 156);
    font-size: 12px;
    font-weight: 550;
}
.page1-content{
    padding-top: 6%;
    padding-left: 15%;
}
.page1-button1{
    font-size: 14px;
    color: rgb(86, 75, 156);
    border: none;
    background-color: #e6e6e6;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 25px;
}
.learnmore{
    font-size: 14px;
    color: rgb(86, 75, 156);
    background-color: #e6e6e6;
    text-decoration: underline;
    margin-left: 5px;
}
.edit-brightness{
    background: none;
    width: 22px;
    padding-right: 5%;
}
.page1-h1{
    padding: 1.5% 0%;
    font-size: 40px;
    font-weight: 550;
}
.page1-text{
    font-size: 15px;
    color: gray;
    line-height: 140%;
    padding-bottom: 2%;
}
.page1-button2{
    font-size: 14px;
    color: white;
    border: none;
    background-color:rgb(86, 75, 156);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 25px;
}
.page1-button3{
    margin-left: 1%;
    font-size: 14px;
    color: rgb(86, 75, 156);
    border: none;
    background-color:white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 25px;
}
.page1-img{
    position: absolute;
    top: 15%;
    right: 18%;
}
.page2{
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 5%;
}
.page2-button1{
    font-size: 15px;
    font-weight: 500;
    color: rgb(86, 75, 156);
    border: none;
    background-color: #e6e6e6;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-right: 1.5%;
    padding-left: 3.5%;
    border-radius: 25px;
    white-space: nowrap;
    margin-left: 46%;
}
.awesome-eye{
    width: 25px;
    position: absolute;
    top: 10px;
    left: 47%;
}
.page2-h1{
    padding: 2% 0%;
    font-size: 35px;
    font-weight: 550;
    text-align: center;
}
.page2-text{
    font-size: 16px;
    color: gray;
    line-height: 150%;
    text-align: center;
    padding-bottom: 2%;
}
.page2-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.data-img{
   margin-left: 42%;
}
.data-h1{
    padding-top: 5%;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
}
.data-text{
    padding-top: 5%;
    font-size: 16px;
    color: gray;
    line-height: 150%;
    text-align: center;
}
.product-terms{
    margin-top: 5%;
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.product-terms-button{
    font-size: 15px;
    font-weight: 500;
    color: rgb(86, 75, 156);
    border: none;
    background-color: #e6e6e6;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 11%;
    border-radius: 25px;
}
.Group-11{
    width: 23px;
    position: absolute;
    top: 31%;
    right: 45.3%;
}
.product-terms-h1{
    padding-top: 5%;
    font-size: 30px;
    font-weight: 550;
}
.product-terms-text{
    padding-top: 5%;
    font-size: 16px;
    color: gray;
    line-height: 150%;
}
.eng-terms{
    margin-top: 5%;
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.eng-terms-button{
    font-size: 15px;
    font-weight: 500;
    color: rgb(86, 75, 156);
    border: none;
    background-color: #e6e6e6;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 11%;
    border-radius: 25px;
}
.Group-28{
    width: 23px;
    position: absolute;
    top: 29%;
    left: 6.4%;
}
.eng-terms-h1{
    padding-top: 5%;
    font-size: 30px;
    font-weight: 550;
}
.eng-terms-text{
    padding-top: 5%;
    font-size: 16px;
    color: gray;
    line-height: 150%;
}
.page3{
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 4%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #edf7fd;
    clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
    margin-bottom: 5%;
}
.page3-h1{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(8, 8, 58);
}
.profile{
    position: absolute;
    top: 38%;
    left: 47%;
}
.profile-name{
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
}
.line-break{
    margin: 2% 15%;
    padding-right: 70%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(189, 188, 188);
    border: none;
}
.logo-bar{
    display: flex;
    justify-content: center;
    gap: 8%;
}
.page4{
    height: auto;
    margin-top: 8%;
    position: relative;
    top: 0%;
    left: 0%;
    padding-bottom: 15%;
}
.page4-left{
    padding-top: 2%;
    width: 28%;
    margin-left: 15%;
    position: relative;
    top: 0%;
    left: 0%;
}
.page4-h1{
    font-size: 30px;
    font-weight: 700;
}
.line-break1{
    position: absolute;
    top: 48%;
    left: 0%;
    padding-right: 35%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(214, 212, 212);
    border: none;
}
.line-break2{
    position: absolute;
    top: 48%;
    right: 0%;
    padding-right: 35%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(214, 212, 212);
    border: none;
}
.trustedby{
    margin-top: 8%;
    margin-bottom: 12%;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    padding-left: 41%;
}
.logo-bar1{
    display: flex;
    justify-content: space-between;
    padding-right: 23%;
}
.logo-bar2{
    display: flex;
    justify-content: space-between;
    padding-right: 23%; 
    padding-top: 18%; 
}
.gray-card{
    width: 30%;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    padding: 15.5% 5%;
    border: none;
    position: absolute;
    top: 3%;
    left: 50%;
    z-index: 1;
}
.Sign-Up-card{
    width: 26%;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    top: 0%;
    left: 52%;
    z-index: 2;
}
.Sign-Up-h1{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
}
.card-button1{
    font-size: 14px;
    color: rgb(212, 210, 210);
    border: none;
    background-color:rgb(86, 75, 156);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 30%;
    padding-left: 30%;
    border-radius: 4px;
}
.card-button2{
    margin-top: 4%;
    font-size: 14px;
    color: rgb(148, 148, 156);
    border: 1px solid gray;
    background-color:white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 55%;
    padding-left: 3%;
    border-radius: 4px;
}
.card-button3{
    margin-top: 4%;
    font-size: 14px;
    color: rgb(148, 148, 156);
    border: 1px solid gray;
    background-color:white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 73.5%;
    padding-left: 3%;
    border-radius: 4px;
}
.card-button4{
    margin-top: 4%;
    font-size: 14px;
    color: rgb(148, 148, 156);
    border: 1px solid gray;
    background-color:white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 55.5%;
    padding-left: 3%;
    border-radius: 4px;
}
.or{
    font-size: 15px;
    font-weight: 550;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.google-button{
    background: none;
    width: 80%;
    padding-left: 20%;
}
.line-break3{
    margin: 0% 2%;
    padding-left: 46%;
    padding-right: 46%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(214, 212, 212);
    border: none;
}
.login{
    text-align: center;
    padding-top: 2%;
    color: rgb(148, 148, 156);
    font-size: 14px;
}
.blue{
    font-size: 14px;
    color: rgb(86, 75, 156);
    font-weight: 500;
}
.footer{
    padding-top: 5%;
    padding-bottom: 8%;
    background-color: #f7fafc;
    display: flex;
    justify-content: center;
    gap: 3%;
    position: relative;
    top: 0%;
    left: 0%;
}
.footer-text{
    margin: 8% 0%;
    font-size: 12px;
    line-height: 150%;
}
.twitter{
    margin-left: 5%;
}
.instagram{
    margin-left: 5%;
}
.footer ul li{
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: 15%;
}
.footer ul li:first-child{
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 20%;
}
.button-part-text{
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 20%;
}
.button-email{
    background-color: white;
    color: gray;
    border: none;
    font-size: 12px;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 15%;
    padding-right: 140%;
}
.send{
    position: absolute;
    right: 16.5%;
    top: 27%;
}