*{
    margin: 0;
    padding: 0% 0%;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.page1{
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0%;
}
nav {
    padding: 2% 15%;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25%;
    position: relative;
    top: 0%;
    left: 0%;
}
nav ul{
    display: flex;
    align-items: center;
    z-index: 1;
}
nav ul li{
    list-style: none;
    margin-left: 45px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 550;
}
.down-arrow{
    margin-left: 2px;
}
.nav-button{
    margin-left: 45px;
    padding: 1.5% 3%;
    white-space: nowrap;
    border-radius: 25px;
    color: #1357ae;
    border: 1px solid #1357ae;
    font-size: 12px;
    font-weight: 550;
}
.page1-content{
    padding-top: 6%;
    padding-left: 15%;
}
.page1-button1{
    font-size: 14px;
    color: #1357ae;
    border: none;
    background-color: #e6e6e6;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 25px;
}
.learnmore{
    font-size: 14px;
    color: #1357ae;
    background-color: #e6e6e6;
    text-decoration: underline;
    margin-left: 5px;
}
.edit-brightness{
    background: none;
    width: 22px;
    padding-right: 5%;
}
.page1-h1{
    padding: 1.5% 0%;
    font-size: 40px;
    font-weight: 550;
}
.page1-text{
    font-size: 15px;
    color: gray;
    line-height: 140%;
    padding-bottom: 2%;
}