*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
nav {
    padding: 2% 5%;
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: 15px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-left: 40px;
    color:	#B2BEB5;
}
.btn-pink{
    padding-left: 15px;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.down-button{
    position: relative;
    left: 12px;
}
.page1{
    margin: 5%;
    z-index: 50;
}
.heading{
    font-size: 75px;
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
}
.pink{
    color:#B5338A;
}
.graytext{
    color:	#B2BEB5;
    padding-top: 2%;
    font-size: 20px;
}
.getstarted{
    margin: 4% 0;
    padding-left: 11px;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
}
.RightArrow{
    position: absolute;
    top: 64.5%;
    left: 16.5%;
}
.users{
    margin: 5% 0%;
    display: flex;
    align-items: center;
    gap: 1%;
}
h2{
    font-size: 30px;
    font-weight: 100;
}
.backCards, .frontCards{
   position: absolute;
   background: none;
}
.backCards{
    right: 21.2%;
    top: 6%;
}
.frontCards{
    right: 10%;
    top: 10%
}
.logobar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #242B2E; 
    margin-top: 10%;
    margin-bottom: 5%;
}
.logo1, .logo2, .logo3, .logo4, .logo5{
    background: none;
}
.page2{
    position: relative;
    top: 0%;
    left: 0%;
}
.page2-h1{
    font-size: 60px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.dollar-circle{
    width: 20%;
    position: absolute;
    top: 150%;
    left: 12%;
    border: 1px solid gray;
    background-color:  #242B2E;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.dollar{
    background: none;
    position: relative;
    left: 70px;
    bottom: 10px;
    
}
.dollar-text{
    padding-top: 10%;
    background: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.cloud-add{
    width: 20%;
    position: absolute;
    top: 130%;
    left: 38%;
    border: 1px solid white;
    background-color:  #6B6E70;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.cloud{
    background: none;
    position: relative;
    left: 70px;
    bottom: 10px;
}
.cloud-text{
    padding-top: 10%;
    background: none;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.lock{
    width: 20%;
    position: absolute;
    top: 150%;
    left: 64%;
    border: 1px solid gray;
    background-color:  #242B2E;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.lock-img{
    background: none;
    position: relative;
    left: 72px;
    bottom: 10px;
}
.lock-text{
    margin-top: 10%;
    background: none;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}
.page3{
    margin-top: 35%;
    padding-bottom: 45%;
    background-color: white;
    padding-top: 7%;
    z-index: 50;
    position: relative;
    top: 0%;
    left: 0%;
}
.heading1{
    color: black;
    background: none;
    font-size: 55px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.pink1{
    background: none;
    color:#B5338A;
}
.page3-text{
    padding-top: 4%;
    font-size: 18px;
    background: none;
    color:	#5c5e60;
    text-align: center;
    z-index: 50;
}
.VCards{
    background: none;
    position: absolute;
    top: 32%;
    left: 23%;
}
.page4{
    padding-top: 7%;
}
.page4-heading{
    font-size: 55px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.page4-text{
    font-size: 18px;
    padding-top: 4%;
    padding-bottom: 7%;
    color:	#B2BEB5;
    text-align: center;
}
.card1{
    border: 1px solid white;
    background-color: #4f4f4f;
    padding: 1% 2%;
    margin-bottom: 5%;
}
.card1-img{
    background: none;
    width: 35%;
}
.card1-text{
    padding-top: 6%;
    background: none; 
    font-size: 14px;
}
.card1-name{
    padding-top: 8%;
    background: none;
    font-size: 14px;
}
.card1-city{
    padding-top: 1%;
    background: none;
    font-size: 12px;
}
.card2{
    border: 1px solid gray;
    background-color: #242B2E;
    margin-top: 1.5%;
    padding: 1% 2%;
    margin-bottom: 5%;
}
.card2-img{
    background: none;
    width: 35%;
}
.card2-text{
    padding-top: 6%;
    background: none; 
    font-size: 14px;
}
.card2-name{
    padding-top: 8%;
    background: none;
    font-size: 14px;
}
.card2-city{
    background: none;
    font-size: 12px;
    padding-top: 1%;
}
.card1-card2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.card3{
    border: 1px solid gray;
    background-color: #242B2E;
    padding: 1% 2%;
    margin-bottom: 5%;
}
.card3-img{
    background: none;
    width: 35%;
}
.card3-text{
    padding-top: 6%;
    background: none; 
    font-size: 14px;
}
.card3-name{
    padding-top: 8%;
    background: none;
    font-size: 14px;
}
.card3-city{
    background: none;
    font-size: 12px;
    padding-top: 1%;
}
.card4{
    border: 1px solid gray;
    background-color: #242B2E;
    padding: 1% 2%;
    margin-bottom: 5%;
}
.card4-img{
    background: none;
    width: 35%;
}
.card4-text{
    padding-top: 6%;
    background: none; 
    font-size: 14px;
}
.card4-name{
    padding-top: 8%;
    background: none;
    font-size: 14px;
}
.card4-city{
    background: none;
    font-size: 12px;
    padding-top: 1%;
}
.card3-card4{
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.slidebar{
    margin-bottom: 5%;
    margin-left: 44%;
}
.slidebar1{
    padding: 7px 35px;
    background-color:#B5338A;
    border: none;
    border-radius: 25px;
}
.slidebar2{
    margin-left: 7px;
    background-color:#242B2E;
    padding: 7px 7px;
    border-radius: 50px;
    border: none;
}
.page5{
    position: relative;
    top: 0%;
    left: 0%;
    background: none;
}
.rectangle1{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
    z-index: 5;
    background: none;
}
.rectangle2{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
    z-index: 4;
    background: none;
}
.diamond1{
    position: absolute;
    top: 16%;
    right: 0%;
    width: 40%;
    height: 70%;
    z-index: 6;
    background: none;
}
.diamond2{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 40%;
    height: 70%;
    z-index: 6;
    background: none;
}
.bottom{
    margin-bottom: 5%;
    padding-bottom: 5%;
    position: relative;
    top: 0%;
    z-index: 10;
    background: none;
}
.bottom-heading{
    padding-top: 10%;
    font-size: 55px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 3%;
    background: none;
}
.bottom-getstarted{
    margin-left: 45%;
    background: none;
    font-size: 18px;
    font-weight: 500;
}
.bottom-btn-pink{
    background: none;
    position: absolute;
    top: 76.5%;
    left: 42%;
    z-index: 9;
    padding-left: 15px;
}
.text-black{
    color: black;
    background: none;
}
.bottom-RightArrow{
    background: none;
    position: absolute;
    left: 54.5%;
    top: 73.5%;
}
.footer {
    padding: 0% 15%;
    height: 20vh;
    display: flex;
    align-items: center;
    gap: 15%;
    font-size: 18px;
    margin-bottom: 2%;
}
.footer ul{
    display: flex;
    align-items: center;
    
}
.footer ul li{
    list-style: none;
    margin-left: 40px;
    color:	#B2BEB5;
}